# binary
*.o
*.a
*.?ch
*.out
*.pyc
pcp-vns

# input
*.pcp
*.col
*.col.b
*.in

# output and graph drawing
*.json
*.gv

# temporary files
*~

# automake/autoconf generated stuff
Makefile
configure
Makefile.in
autom4te.cache/*
depcomp
install-sh
missing
test-driver
*.Po
aclocal.m4
config.status

# other nasty stuff
*.pdf

# vim lock/temp files?!
*.swp

# NetBeans local files
/nbproject/private/*

# logfiles
*.log

# test results
*.trs
