# binary
*.o
*.a
*.?ch
*.out
*.pyc
pcp

# input
*.pcp
*.col
*.col.b
*.in

# output and graph drawing
*.json
*.gv

# temporary files
*~

# other nasty stuff
*.pdf

# NetBeans local files
/nbproject/private/*

# files used for testing
*tests*
*instances*
